body {
    background-image: url('https://w7.pngwing.com/pngs/497/719/png-transparent-football-1080p-display-resolution-high-definition-television-three-dimensional-football-field-lighted-ballpark-television-other-atmosphere.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
    #elija {
    text-align: center;   
    }