body {
    background: hsl(229, 49%, 21%);
    color: hsl(0, 0%, 100%);
  }
  #escudo {
    width: 18%;
    margin: 3% auto;
    height: 44vh;
    background-color: hsl(49, 95%, 41%);
    border-radius: 30px;
    text-align: center;
  }
  #titulo {
    width: 16%;
    margin: 3% auto;
    height: 5vh;
    background-color: hsl(49, 95%, 41%);
    border-radius: 10px;
   text-align: center;
  }
    #parrafo {
    margin: 1% auto;
    height: 10vh;
    border-radius: 10px;
    text-align: center;
  }

  #escudos {
    width: 46%;
    margin: 10% auto;
    height: 6vh;
    border-radius: 10px;
    text-align: left;
  }
    #parrafo2 {
    margin: 1% auto;
    height: 10vh;
    border-radius: 10px;
    text-align: center;
  }
    #rivalidades {
      width: 40%;
    margin: 13% auto;
    height: 1vh;
    border-radius: 10px;
    text-align: center;
  }
    #estadio {
    text-align: center;
  }

  #river {
    text-align: center;
  }
  
  #torneos {
    text-align: center;
  }
  
